<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
 <ion-title>AppCompare</ion-title>

  </ion-toolbar>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src='/assets/icon/favorite.jpg' alt ='logo'>  
    </ion-avatar>
    <ion-label>
      <p>Bienvenue</p>
      <h3>AppCompare</h3>
    </ion-label>

  </ion-item>

</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOperations">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <div class="main">
            <img src='/assets/icon/header3.jpg' alt ='iphone 13'>
        
        </div>

        </ion-card-header>
        <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-text-bottom">Partenaire des grandes marques</ion-card-title>
            <ion-card-subtitle class="ion-text-right">score : 520</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="medium"></ion-progress-bar>
        </ion-card-content>
      </ion-card>
    </ion-slide>
<!--Deuxieme partie-->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <div class="main">
            <img src='/assets/icon/header4.jpg' alt ='logo'>
        
        </div>

        </ion-card-header>
        <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-text-bottom">Comparez des milliers de produits</ion-card-title>
            <ion-card-subtitle class="ion-text-right">score : 750</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="warning"></ion-progress-bar>
        </ion-card-content>
      </ion-card>
    </ion-slide>
<!--troisieme partie-->

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <div class="main">
           
        

          <img class="tof" src='/assets/icon/header2.jpg' alt ='iphone 13'>
        </div>

        </ion-card-header>
        <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-text-bottom">Prix Qualite Chiffre d'affaire poids Economique</ion-card-title>
            <ion-card-subtitle class="ion-text-right">score : 250</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="tertiary"></ion-progress-bar>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
    <!--
  </div>
<div class="optionbtn"> 

  <ion-fab  slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook">Samsung</ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter">Iphone</ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo">Huawei</ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google">OnePlus</ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</div>
-->
<div class="neon">
  <a>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
 
 <h3> Nos Partenaires </h3>
  </a>
 </div> 
 <br>
 <ion-item-divider color="tertiary">
  <ion-label>
  Comparaison des Chiffres d'affaire<br> des plus Grand fournisseurs de <br> Technologie mobile 
  </ion-label>
</ion-item-divider>
<br>
<!-- Item Dividers in a List -->
<ion-list>
  <ion-item-divider>
    <ion-label color="tertiary">
      Apple
    </ion-label>
  </ion-item-divider>

  <ion-item><ion-label>Apple Avec un chiffre <br> d'affaire de 2.196 Trillions USD
  </ion-label></ion-item>
  

  <ion-item-divider>
    <ion-label color="tertiary">
      Samsung
    </ion-label>
  </ion-item-divider>

  <ion-item><ion-label>Samsung avec 281  Milliard USD</ion-label></ion-item>
 
  <ion-item-divider>
    <ion-label color="tertiary">
    OnePlus
    </ion-label>
  </ion-item-divider>

  <ion-item><ion-label>OnePlus Avec une chiffre d'affaire de<br> 6 53Milliard</ion-label></ion-item>
 
  <ion-item-divider>
    <ion-label color="tertiary">
     Xiaomi
    </ion-label>
  </ion-item-divider>

  <ion-item><ion-label>Xiaomi Avec une chiffre d'affaire de<br> 49,7 Milliard de yuans</ion-label></ion-item>

  <ion-item-divider>
    <ion-label color="tertiary">
     Huawei
    </ion-label>
  </ion-item-divider>

  <ion-item><ion-label>Huawei Avec une chiffre d'affaire de <br>671.3 Milliard de yuans (85.1 milliard d'euros ) </ion-label></ion-item>
 
  <ion-item-divider>
    <ion-label color="tertiary">
      Honnor
    </ion-label>
  </ion-item-divider>

  <ion-item><ion-label>Honnor Avec une chiffre d'affaire de<br> 454 milliard de yuans (57 milliard d'euros)</ion-label></ion-item>
 

  <ion-item-divider>
    <ion-label color="tertiary">
      Realme
    </ion-label>
  </ion-item-divider>

  <ion-item><ion-label>Realme Avec une chiffre<br> d'affaire de 11.36 milliard</ion-label></ion-item>
 <br>
</ion-list>
<!--partie ajout de boutton-->
<ion-item-divider color="tertiary">
  <ion-label>
  Diagramme des Prix
  </ion-label>
</ion-item-divider>
<br>
<!--partie diagramme permettant de representer les courbes-->
<ion-footer>
<canvas #barCanvas style="position:relative;height:20vw;width:40vw;"></canvas>
<br>
<ion-slide>
  <ion-card>
    
    <ion-card-content class="ion-text-left" color ="white">
      <ion-card-title class="ion-text-bottom"><h6>Copyright 2021<br> Projet de memoire Licence 3 
        </h6>
      </ion-card-title>
        <ion-card-subtitle class="ion-text-right"> AppCompare Senegal</ion-card-subtitle>
      
        <ion-progress-bar type="indeterminate" reversed="true" color="medium"></ion-progress-bar>


      
    </ion-card-content>
  </ion-card>
</ion-slide>
<ion-card>
    
  <ion-card-content class="ion-text-left">
    <ion-card-title class="ion-text-bottom">Mode Sombre
    </ion-card-title>
    <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
    
  
  </ion-card-content>
</ion-card>


<br>
<br>
<br>
</ion-footer>