<ion-header [translucent]="true">
  <ion-toolbar>
 <ion-title>AppCompare</ion-title>
  </ion-toolbar>

  <ion-item lines="none">


    <ion-avatar slot="start">
      <img src='/assets/icon/favorite.jpg' alt ='iphone 13'>  
    </ion-avatar>
    <ion-label>
      <p> AppCompare</p>
      <h3>fournisseur et chiffre d'Affaire</h3>
    </ion-label>

  </ion-item>
  
</ion-header>


<ion-app>
  <ion-content >
    <ion-slides pager="true" >
<br><br><br><br><br>
      <ion-slide>
        <div class="slide">
          <img src="/assets/icon/compare1.jpg"/>
          <h2>Samsung vs Huawei</h2>
          <p>Compare <b>Samsung vs Huawei</b><br> Huawei vient tout juste de présenter  la gamme Huawei P40. Accompagné des P40 Pro et P40 Pro+, . De quoi venir concurrencer le Samsung Galaxy S20 .</p>
         
     <ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
          Samsung avec 70%
          
     <ion-progress-bar value="0.7" color="warning">
              <br> 
      </ion-progress-bar>
          Huawei avec 40%
     <ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
          <ion-progress-bar value="0.4" color="success">
                     
       </ion-progress-bar>
        </div>
        
      </ion-slide>

      <ion-slide>
        <img src="/assets/icon/compare2.jpg"/>
        <h2>OnePlus 8 vs Huawei P30Pro</h2>
        <p><b></b> Une grande première pour la marque, OnePlus a dévoilé lors d’une conférence dédiée la version « Pro » de son nouveau flagship.  </p>
        <br> 
        <ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
             OnePlus 50%
             <br> 
        <ion-progress-bar value="0.7" color="danger">
                 <br> 
         </ion-progress-bar>
             Huawei avec 50%
        <ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
             <ion-progress-bar value="0.4" color="primary">
                        
          </ion-progress-bar>
         
      </ion-slide>

      <ion-slide>
        <img src="/assets/icon/compare6.jpg"/>
        <h2>compare</h2>
        <p><b>Samsung  A70 vs OnePlus 8pro</b> <br> Avec le Samsung Galaxy A80, on fait clairement un bon dans les prix pour arriver à 659 euros — alors que le A70 s’affiche à 409 euros. Considéré comme un smartphone milieu de gamme mais « premium« le OnePlus 7 Pro, lui vendu seulement 50 euros plus cher.
          <br> 
     <ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
          Samsung avec 80%
          <br> 
     <ion-progress-bar value="0.8" color="warning">
              <br> 
      </ion-progress-bar>
          OnePlus 50%
     <ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
          <ion-progress-bar value="0.4" color="primary">
                     
       </ion-progress-bar>
        </p>
      </ion-slide>
      

      <ion-slide>
        <img src="/assets/icon/compare5.jpg"/>
        <h2>Samsung vs Xiaomi</h2>
       <p>le renouveau de la gamme Galaxy A compte désormais sept smartphones, Galaxy A30.  A20e (vendu à 189 euros) et le A40 (vendu à 259 euros). mais est-ce assez pour rivaliser avec un Xiaomi Redmi Note 7 excellent, qui plus est proposé pour 50 euros en moins sur la facture</p>
       
        <ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
             Samsung A20 avec 70%
             <br> 
        <ion-progress-bar value="0.9" color="tertiary">
                 <br> 
         </ion-progress-bar>
             Xiaomi p30 avec 40%
        <ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
             <ion-progress-bar value="0.4" color="secondary">
                        
          </ion-progress-bar>
      </ion-slide>
<!--partie  apple-->
<ion-slide>
  <img src="/assets/icon/iphone-12-pro-vs-iphone-11-pro.jpg"/>
  <h2>iphone-12-pro-vs-iphone-11-pro</h2>
  <p>L'iPhone 12 Pro est légèrement plus grand que l'iPhone 11 Pro — 146,7 contre 144 mm — et cela s'explique notamment par son écran plus grand de 6,1 pouces pour 5,8 pouces sur l'autre modèle. Dans les deux cas, nous avons affaire à un affichage OLED pour un contraste parfait.
 
<ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
   Iphone 12 Pro
    <br> 
<ion-progress-bar value="0.7" color="warning">
        <br> 
</ion-progress-bar>
    Iphone 11 Pro
<ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
    <ion-progress-bar value="0.4" color="primary">
               
 </ion-progress-bar>
  </p>
</ion-slide>

<!--another-->
<ion-slide>
  <img src="/assets/icon/oneplus6-huawei-p20-pro-galaxyS9.jpg"/>
  <h2>OnePlus vs Huaweip20 vs Galaxie s9 </h2>
  <p><b>Product</b> Huawei P20
    ₹ 52,290
    OnePlus 6
    ₹ 34,999
    Samsung Galaxy S9
    ₹ 57,900
  </p>
  <br> 
  <ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
      One Plus
       <br> 
  <ion-progress-bar value="0.5" color="danger">
           <br> 
   </ion-progress-bar>
      Huawei
  <ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
       <ion-progress-bar value="0.5" color="primary">
                  
    </ion-progress-bar>
    Samsung Galaxie S9
    <ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
       <ion-progress-bar value="0.6" color="primary">
                  
    </ion-progress-bar>
</ion-slide>

<!---->

<ion-slide>
  <img src="/assets/icon/samvshuawei.jpg"/>
  <h2>Samsung Vs Huawei</h2>
  Huawei vient tout juste de présenter officiellement son dernier smartphone haut de gamme , le Huawei P40. Accompagné des P40 Pro et P40 Pro+, De quoi venir concurrencer le Samsung Galaxy S20 qui fait un enorme poids sur le marche de la telephonie
  <ion-button fill="clear">
  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>

  <ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
       Samsung A20 avec 70%
       <br> 
  <ion-progress-bar value="0.8" color="tertiary">
           <br> 
   </ion-progress-bar>
       Huawei p40 avec 50%
  <ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
       <ion-progress-bar value="0.5" color="secondary">
                  
    </ion-progress-bar>
</ion-slide>
<!--another-->
<ion-slide>
  <img src="/assets/icon/4model.png"/>
  <h2>OnePlus Vs Huawei  Vs Samsung Vs </h2>
  <p><b>Google Pixel 3 XL</b>  
    ₹ 83,000
    
    Huawei P30 Pro
    ₹ 71,990
    OnePlus 7 Pro
   
    ₹ 48,999
    
    Samsung Galaxy S10 Plus
    ₹ 73,900 </p>
  <br> 


  <ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
       OnePlus 50%
       <br> 
  <ion-progress-bar value="0.7" color="danger">
           <br> 
   </ion-progress-bar>
       Huawei avec 50%
  <ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
       <ion-progress-bar value="0.6" color="primary">
                  
    </ion-progress-bar>
    Samsung
    <ion-card-subtitle class="ion-text-right">score 60</ion-card-subtitle>
       <ion-progress-bar value="0.6" color="primary">
                  
    </ion-progress-bar>
    Google Pixel
    <ion-card-subtitle class="ion-text-right">score 50</ion-card-subtitle>
    <ion-progress-bar value="0.4" color="primary">
               
 </ion-progress-bar>
   
</ion-slide>


<!--partie  apple-->
<ion-slide>
  <img src="/assets/icon/airpods.jpg"/>
  <h2>Ecouteur sans fil</h2>
  <p><b>Airpods</b> Airpod dernier model Apple qui vient booster le marche des Ecouteurs sans fil avec 499 euros de meme que le buds pro avec un prix relativement bas compare au airpods pro qui est de 229 euros .
    <br> 
<ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
  Airpods Pro
    <br> 
<ion-progress-bar value="0.5" color="warning">
        <br> 
</ion-progress-bar>
    buds Pro samsung
<ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
    <ion-progress-bar value="0.5" color="primary">
               
 </ion-progress-bar>
  </p>
</ion-slide>


<!--partie  apple-->
<ion-slide>
  <img src="/assets/icon/airpod vs buds pro.jpg"/>
  <h2></h2>
  <p><b>Airpods </b> A 279 euros, les AirPods Pro sont clairement à classer dans la catégorie des true wireless coûteux. Ils sont même un peu plus chers que la nouvelle référence. Pourtant, les écouteurs d’Apple se classent clairement parmi les meilleurs du moment.
    <br> 
<ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
   Airpod 2
    <br> 
<ion-progress-bar value="0.7" color="warning">
        <br> 
</ion-progress-bar>
   Buds  Samsung
<ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
    <ion-progress-bar value="0.5" color="primary">
               
 </ion-progress-bar>
  </p>
</ion-slide>

<!---->


<!--partie  apple-->
<ion-slide>
  <img src="/assets/icon/tabs7vsipadpro.jpg"/>
  <h2>Tablette</h2>
  <p><b>Tab 7 vs Ipad pro</b>  Apple présente au monde entier le nouvel iPad. Il s’agit déjà de sa huitième génération. Mais qu’apporte-t-elle de plus à l’édition précédente ? Voici notre comparatif iPad 8 vs iPad 7 pour tout savoir.
<ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
  Tabette 7
    <br> 
<ion-progress-bar value="0.6" color="warning">
        <br> 
</ion-progress-bar>
    Ipad Pro 
<ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
    <ion-progress-bar value="0.5" color="primary">
               
 </ion-progress-bar>
  </p>
</ion-slide>

<!---->
<ion-slide>
  <img src="/assets/icon/vs.jpg"/>
  <h2>Gamme Samsung</h2>
  <p><b> Une lage Gamme de produit que propose samsung meme si le S20 est largement superieur en qualite de prix avec 859 euros compare a A32 qui est de 499 euros </b> 
    <br> 
<ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
  Samsung  A32 
    <br> 
<ion-progress-bar value="0.5" color="warning">
        <br> 
</ion-progress-bar>
  Samsung S20
<ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
    <ion-progress-bar value="0.8" color="primary">
               
 </ion-progress-bar>
  </p>
</ion-slide>
<!--partie  apple-->
<ion-slide>
  <img src="/assets/icon/macbook-pro-13-2020-2tb3-vs-samsung-galaxy-book-ion-13.jpg"/>
  <h2>Apple</h2>
  <p><b>Ordinateur </b>Ordinateur Macbook Pro 13 estime a 15000$ vs Galaxie book ion 13 estime 12500$
    <br> 
<ion-card-subtitle class="ion-text-right">score 70</ion-card-subtitle>
   Macbook pro 13 2020
    <br> 
<ion-progress-bar value="0.7" color="warning">
        <br> 
</ion-progress-bar>
    Galaxy book ion 13
<ion-card-subtitle class="ion-text-right">score 40</ion-card-subtitle>
    <ion-progress-bar value="0.5" color="primary">
               
 </ion-progress-bar>
  </p>
</ion-slide>

<!--another-->
<!---->

    </ion-slides>
    
  </ion-content>
</ion-app>


